.flex {
  display: flex;
}

.container-head {
  background-color: white;
  max-width: 100%;
  justify-content: space-between;
  height: 10%;
  align-items: center;
}

.item-header {
  width: 100%;
  margin: 1px;
  justify-content: center;
  align-items: center;
  color: blue;
  text-align: center;
}

.division-header {
  max-width: 100%;
  justify-content: space-between;
  height: 1%;
}

.division-header-itens {
  width: 10%;
  height: 100%;
  background: tomato;
}

.container-home {
  background-color: orange;
  max-width: 100%;
  justify-content: space-between;
  height: 89%;
  align-items: center;
  background-image: url("../assets/img/fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-item-login {
  width: 20%;
  margin-left: 45%;
  margin-top: 10%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.dados-loggin input {
  margin-top: 50px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: orange;
  border: none;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.titulo-login {
  color: orange;
  font-weight: bold;
}

.titulo-novo-usuario {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.hyperlink-vazio {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirm-loggin {
  margin-top: 20%;
}
.subtitulo-login {
  color: gray;
  font-weight: bold;
}

.button-align {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .confirm-loggin {
    margin-top: 1%;
  }
  .container-head {
    background-color: white;
    max-width: 100%;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    flex-direction: column;
  }

  .division-header {
    max-width: 100%;
    justify-content: space-between;
    height: 1%;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: orange;
    border: none;
    color: white;
    font-size: 10px;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 15px;
    box-sizing: border-box;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
  }

  .dados-loggin input {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .item-header {
    width: 100%;
    margin: 1px;
    font-size: 5px;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .confirm-loggin {
    margin-top: 1%;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: orange;
    border: none;
    color: white;
    font-size: 10px;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 15px;
    box-sizing: border-box;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
  }

  .dados-loggin input {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .item-header {
    width: 100%;
    margin: 1px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .confirm-loggin {
    margin-top: 1%;
  }

  .dados-loggin input {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .item-header {
    width: 100%;
    margin: 1px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
  }
}
